PORT=5003


# ......For UAT DB Credentials.......

# DB_HOST='10.24.89.9'
# DB_USERNAME='postgres'
# DB_PASSWORD='root456'
# DB_DAILECT='postgres'
# DB_PORT=5432
# DATABASE_URL = "postgresql://neondb_owner:Y3uvD9tZgjXL@ep-wild-sunset-a5dd4663.us-east-2.aws.neon.tech/neondb?sslmode=require"
DB_HOST="localhost"
DB_USERNAME="postgres"
DB_PASSWORD="root"
DB_DIALECT="postgres"  
DB_PORT="5432"
DB_DATABASETPM="nmds_db"


PASSWORD_KEY="!@12ab"


// JWT access token secret key
ACCESS_TOKEN_SECRET = 'M^05p1GatiCenter@1912'
// access token expiry (default 15 minutes)
ACCESS_TOKEN_EXPIRY = '2d'
